.formContainer {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: var(--color-surface);
	border: var(--border-width-thick) solid var(--color-border);
	border-radius: var(--radius-md);
	padding: 3rem;
	width: 440px;
}

h2 {
	font-family: var(--font-heading);
	font-size: 2rem;
	font-weight: 600;
}

p {
	font-size: 14px;
	text-align: center;
}

.input {
	width: 100%;
	padding: 0.5rem;
	border: var(--border-width-thick) solid var(--color-border);
	border-radius: var(--radius-sm);
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}
